//====================================================================================================
.matches {
    // .matches__container
    &__container {
    }
    // .matches__head
    &__head {
        @include adaptiveValue('margin-left', 280, 0, 0, $containerWidth, 991.98);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 40, 16);
        }
    }
    // .matches__title
    &__title {
    }
    // .matches__text
    &__text {
    }
    // .matches__body
    &__body {
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: rem(30);
        @include adaptiveValue('gap', 30, 10);
        @media (max-width: em(1100)) {
            grid-template-columns: 1fr;
        }
    }
    // .matches__aside
    &__aside {
    }
    // .matches__content
    &__content {
    }
    // .matches__wrapper
    &__wrapper {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 100, 30);
        }
    }
    // .matches__inner
    &__inner {
    }
    // .matches__items
    &__items {
    }
    // .matches__item
    &__item {
    }
}
.tournament-matches {
    &:not(:last-child) {
        margin-bottom: rem(30);
    }
    // .tournament-matches__items
    &__items {
        display: grid;
        gap: rem(10);
    }
    // .tournament-matches__title
    &__title {
        display: inline-block;
        font-weight: 700;
        @include adaptiveValue('font-size', 24, 18);
        line-height: 1.3;
        padding: rem(20) rem(30) rem(30) rem(30);
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
        @media (max-width: $mobile) {
            text-align: center;
            padding: 0 0 rem(20) 0;
        }
        @media (max-width: $mobileSmall) {
            padding: 0 0 rem(16) 0;
        }
    }
}
//====================================================================================================
